<div id="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul id="top-info">
					<li>Phone: <a href="tel:0755090700">07 5509 0700</li>
					<li>Email: <a href="mailto:office@promoran.com">info@moranrealty.com.au</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="nav-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="index.html" class="nav-logo"><img src="images/logo.png" alt="Cozy Logo" /></a>
				
				<!-- BEGIN MAIN MENU -->
				<nav class="navbar">
					<button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>
					
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" data-hover="dropdown">For Sale<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="residential-properties.html">Browse Properties for Sale</a></li>
								<li><a href="undercontract-properties.html">Browse Properties under contract</a></li>
								<li><a href="sold-properties.html">Browse Sold Properties</a></li>
							</ul>	
						</li>

						<li class="dropdown">
							<a href="#" data-toggle="dropdown" data-hover="dropdown">For Rent<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="rental-properties.html">Browse Properties for Rent</a></li>
							</ul>
						</li>

						<li>
							<a href="sell-your-home.html">Sell your home</a>
						</li>

						<li>
							<a href="property-management.html">Property management</a>
						</li>
						
						<li>
							<a href="about.html">Why Moran Realty?</a>
						</li>
						
						<li><a href="contacts.html">Contact Us</a></li>
					</ul>
					
				</nav>
				<!-- END MAIN MENU -->
				
			</div>
		</div>
	</div>
</div>